<div class="navbar bg-base-100 border-b border-gray-200 shadow-sm">
  <div class="navbar-start">
    <!-- Menu lateral para dispositivos móveis -->
    <div class="dropdown">
      <div class="btn btn-ghost lg:hidden" role="button" tabindex="0">
        <svg class="h-5 w-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path d="M4 6h16M4 12h8m-8 6h16" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
        </svg>
      </div>
      <ng-container *ngComponentOutlet="( navbarLinks | async ); inputs: { side: true }" />
    </div>

    <a [routerLink]="(loggedIn | async) ? '/dashboard' : '/'">
      <img src="logo.png" alt="logo" class="h-10 w-auto" height="85" width="435" />
    </a>
  </div>

  <ng-container *ngComponentOutlet="( navbarLinks | async ); inputs: { side: false }" />

  <!-- Menu de notificações e avatar -->
  <div class="navbar-end">
    <app-sidebar *ngIf="(loggedIn | async) && (user | async)?.role !== 'relative'">
      <span class="indicator relative" icon>
        <img src="./task.svg" alt="Task Icon" class="w-6 h-6" />
        <span
          class="badge badge-sm badge-primary absolute top-0 left-[50%] -translate-x-1/2 -translate-y-1/2 rounded-full border-3 border-black">
          {{(tasks | async)?.length}}
        </span>
      </span>
      <app-task-filter />
      @for (task of (tasks | async); track task.id) {
        <li>
          <app-task [task]="task"></app-task>
        </li>
      }@empty {
        <li>
          <span class="text-gray-500">Sem tarefas</span>
        </li>
      }
    </app-sidebar>
    <div class="dropdown dropdown-end" *ngIf="loggedIn | async">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle indicator mr-4">
        <div class="indicator relative">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
          </svg>
          <span class="badge badge-xs badge-primary absolute top-0 right-0 translate-x-1/2 -translate-y-1/2">
            {{ notifications.length }}
          </span>
        </div>
      </div>

      <ul tabindex="0"
          class="menu dropdown-content bg-base-100 rounded-box z-[1] mt-4 w-96 max-h-[30rem] p-4 shadow overflow-y-auto">
        <!-- Renderizar todas as notificações -->
        <li *ngFor="let notification of notifications" class="p-2 border-b border-gray-300 last:border-none">
          <div>
            <a class="block">
              <span class="font-semibold text-base">
                {{ notification.message }}
              </span>
              <span class="text-sm text-gray-500">
                {{ notification.createdAt | date: 'dd/MM/yyyy HH:mm' }} - ({{ notification.type }})
              </span>
            </a>
          </div>
          <button class="btn btn-error btn-xs ml-2" (click)="deleteNotification(notification.id)">
            Excluir
          </button>
        </li>
      </ul>
    </div>
    <!-- Avatar Dropdown -->
    <div *ngIf="loggedIn | async" class="dropdown dropdown-end mr-4">
      <div class="btn btn-ghost btn-circle avatar" role="button" tabindex="0">
        <div class="w-10 rounded-full">
          <img alt="User Avatar" src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" />
        </div>
      </div>
      <ul class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow" tabindex="0">
        <li>
          <a class="flex items-center">
            <img src="profile.svg" alt="Profile Icon" class="w-6 h-6" />
            Perfil
          </a>
        </li>
        <li>
          <a class="flex items-center">
            <img src="gear.svg" alt="Settings Icon" class="w-6 h-6 mr-2" />
            Definições
          </a>
        </li>
        <li>
          <a (click)="logout()" class="flex items-center">
            <img src="logout.svg" alt="Logout Icon" class="w-6 h-6 mr-2" />
            Logout
          </a>
        </li>
      </ul>
    </div>

    <!-- Botão de Login -->
    <a *ngIf="!(loggedIn | async)" [routerLink]="['/login']" class="btn btn-info flex items-center">
      <!-- Key Icon -->
      <img src="login.svg" alt="Key Icon" class="w-6 h-6" />
      <!-- Login Text -->
      <span>Login</span>
    </a>
  </div>
</div>
