/* Barra de rolagem personalizada para todos os navegadores */
.custom-scrollbar::-webkit-scrollbar {
  width: 10px; /* Largura da barra de rolagem */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1; /* Cor do fundo da barra */
  border-radius: 10px; /* Bordas arredondadas */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #9bb6ff; /* Cor da barra */
  border-radius: 10px; /* Bordas arredondadas */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #9bb6ff; /* Cor da barra ao passar o mouse */
}

.custom-scrollbar::-webkit-scrollbar-thumb:active {
  background: #9bb6ff; /* Cor ao clicar */
}

/* Para Firefox */
.custom-scrollbar {
  scrollbar-width: thin; /* Largura da barra de rolagem */
  scrollbar-color: #9bb6ff #f1f1f1; /* Cor da barra e do fundo */
}

/* Adiciona padding ao contêiner de mensagens */
.custom-scrollbar {
  padding-right: 10px; /* Padding do lado direito para não sobrepor a barra de rolagem */
}

.chat {
  padding: 10px; /* Padding interno das mensagens */
}
