<div class="p-2">
  <table class="table table-zebra">
    <thead>
    <tr>
      <!--      <th (click)="handleHeaderClick('name')" class="w-40">Nome</th>-->
      <!--      <th (click)="handleHeaderClick('phoneNumber')" class="w-32">Contacto</th>-->
      <!--      <th (click)="handleHeaderClick('email')" class="w-32">Email</th>-->
      <!--      <th (click)="handleHeaderClick('fiscalId')" class="w-32">NIF</th>-->
      <!--      <th (click)="handleHeaderClick('address')" class="w-64">Morada</th>-->
      <!--      <th (click)="handleHeaderClick('role')" class="w-24">Role</th>-->
      <!--      <th class="w-40">Ações</th>-->

      @for (col of tableConfig().columns; track col.colKey) {
        <th (click)="handleHeaderClicked(col.colKey)" [ngClass]="col.classList">{{ col.label }}</th>
      }
    </tr>
    </thead>
    <tbody>
      @for (row of data(); track $index) {
        <tr>

          @for (col of tableConfig().columns; track $index; let i = $index) {
            @if (i == 0) {
              <th scope="row">
                <app-table-cell-profile
                  [mainText]="getValue(row, col.colKey)"
                  [subText]="col.subKey ? getValue(row, col.subKey!) : ''"
                  [imgUrl]="col.imageKey ? getValue(row, col.imageKey!): ''"
                />
              </th>
            } @else {
              <td>
                <app-table-cell-text
                  [mainText]="getValue(row, col.colKey)"
                  [subText]="col.subKey ? getValue(row, col.subKey!) : ''"
                />
              </td>
            }
          }
        </tr>
      }
    </tbody>
  </table>

</div>
