<tr class="hover">
  <th class="w-10">
  </th>
  <td class="w-40">
    <div class="flex items-center gap-3">
      <div class="avatar">
        <div class="mask mask-squircle h-12 w-12">
          <img
            src="https://img.daisyui.com/images/profile/demo/2@94.webp"
            alt="Avatar Tailwind CSS Component" />
        </div>
      </div>
      <div>
        <div class="font-bold text-xs">{{user.name}}</div> <!-- Texto reduzido -->
        <div class="text-xs opacity-50">{{user.nationality}}</div>
      </div>
    </div>
  </td>
  <td class="w-32 text-xs">{{user.phoneNumber}}</td> <!-- Texto menor para Contacto -->
  <td class="w-32 text-xs">{{user.email}}</td>
  <td class="w-32 text-xs">{{user.fiscalId}}</td> <!-- Texto menor para NIF -->
  <td class="w-64 text-xs">{{user.address}} {{user.postcode}}<br>{{user.city}}</td> <!-- Largura ajustada para Morada -->
  <td class="w-24 text-xs">{{user.role}}</td> <!-- Role ajustado -->
  <td class="w-40">
    <div class="flex space-x-1">
      <button class="btn btn-sm btn-warning text-xs">Detalhes</button>
      <button class="btn btn-sm btn-warning text-xs">Editar</button>
      <button class="btn btn-sm btn-error text-xs">Remover</button>
    </div>
  </td>
</tr>
