<section class="px-3 flex mt-5">
  <app-search-box (onSearch)="handleSearch($event)"/>

  <button class="btn btn-success btn-outline border-2 btn-dark ml-2">
    <svg class="size-6" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24"
         xmlns="http://www.w3.org/2000/svg">
      <path d="M12 4.5v15m7.5-7.5h-15" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  </button>
</section>

<app-table [data]="userList()" [tableConfig]="tableConfig"/>

<app-paginator
  (nextPage)="handleNextPage()"
  (previousPage)="handlePreviousPage()"
  [pageNumber]="(page | async) || 1"
  [totalPages]="(totalPages |async) || 1"/>
