<ng-container *ngIf="!error; else errorTpl">
  <div *ngIf="payment" class="container mx-auto p-4 md:p-6">
    <div class="card bg-base-100 shadow-xl relative">
      <div class="card-body pt-6">
        <!-- Título e Ações na mesma linha -->
        <div class="flex flex-col md:flex-row justify-between items-center mb-4">
          <h2 class="card-title text-2xl font-semibold text-center md:text-left">
            Detalhes do Pagamento
          </h2>
          <div class="flex justify-center md:justify-end gap-2 mt-4 md:mt-0">
            <!-- Botão de Retrocesso -->
            <button class="btn btn-secondary flex items-center gap-2" (click)="goBack()">
              <img src="left-arrow.svg" alt="Left Arrow Icon" class="w-6 h-6" />
              Voltar
            </button>
            @if(!(isRelative | async)) {
            <a
              [routerLink]="['/residents', resident?.id, 'payments', payment.id, 'edit']"
              class="btn btn-info inline-flex items-center gap-1 text-xs md:text-base hover:bg-info-dark"
            >
              <img src="pencil.svg" alt="Edit Icon" class="w-6 h-6" />
              Editar
            </a>
            <button
              (click)="showDeleteModal()"
              class="btn btn-primary inline-flex items-center gap-1 text-xs md:text-base hover:bg-error-dark"
            >
              <img src="delete.svg" alt="Eliminar" class="w-6 h-6" />
              Eliminar
            </button>
            }
          </div>
        </div>

        <!-- Informações do Pagamento -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 p-4 bg-base-200 rounded-lg w-full">
          <div class="space-y-2">
            <p>
              <span class="font-bold">Montante:</span>
              {{ payment.amount }}
            </p>
            <p>
              <span class="font-bold">Tipo:</span>
              {{ payment.type }}
            </p>
            <p>
              <span class="font-bold">Data de Pagamento:</span>
              {{ payment.date | date: 'dd MMMM yyyy' }}
            </p>
          </div>
          <div class="space-y-2">
            <!-- Exibe os campos Mês e Ano apenas se o tipo for 'Mensalidade' -->
            <ng-container *ngIf="payment.type === 'Mensalidade'">
              <p>
                <span class="font-bold">Mês:</span>
                {{ payment.month || 'Não especificado' }}
              </p>
              <p>
                <span class="font-bold">Ano:</span>
                {{ payment.year || 'Não especificado' }}
              </p>
            </ng-container>

            <!-- Campo Observações -->
            <p>
              <span class="font-bold">Observações:</span>
              {{ payment.observation || 'Nenhuma observação registrada' }}
            </p>
          </div>
        </div>

        <div class="divider my-4"></div>
      </div>
    </div>

    <!-- Modal de Confirmação -->
    <app-modal-confirm
      title="Apagar Pagamento"
      message="Tem certeza de que deseja eliminar este pagamento?"
      confirmLabel="Eliminar"
      (confirm)="onDelete()"
    ></app-modal-confirm>
  </div>

  <div *ngIf="!payment">
    <app-loading />
  </div>
</ng-container>

<!-- Template de Erro -->
<ng-template #errorTpl>
  <p class="text-error p-4">{{ error }}</p>
</ng-template>
