<form class="lg:px-36" (ngSubmit)="onSubmit()" [formGroup]="form">
  <h1 class="card-title text-2xl mb-5">Criar Utilizador</h1>

  <h2 class="mb-3 card-title">Dados de Contacto</h2>
  <app-input
  [control]="name"
  [required]="true"
  class="border-0 w-full p-0"
  label="Nome"
  placeholder="João Silva"
  type="text" />
  <div class="grid grid-cols-2 gap-5">

    <app-input
      [control]="email"
      [required]="true"
      class="border-0 w-full p-0"
      label="Email"
      placeholder="example@ex.com"
      type="email">
      <svg class="size-6" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24"
           xmlns="http://www.w3.org/2000/svg">
        <path
          d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75"
          stroke-linecap="round"
          stroke-linejoin="round" />
      </svg>
    </app-input>

    <app-input
      [control]="phoneNumber"
      [required]="true"
      class="border-0 w-full p-0"
      label="Contacto"
      placeholder="+351229954455"
      type="text">
      <svg class="size-6" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24"
           xmlns="http://www.w3.org/2000/svg">
        <path
          d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 0 0 2.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 0 1-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 0 0-1.091-.852H4.5A2.25 2.25 0 0 0 2.25 4.5v2.25Z"
          stroke-linecap="round"
          stroke-linejoin="round" />
      </svg>
    </app-input>
  </div>

  <h2 class="card-title mb-3 mt-4">Dados de Acesso</h2>
  <div class="grid grid-cols-2 gap-5">
    <app-input
      [control]="password"
      [required]="true"
      class="border-0 w-full p-0"
      label="Password"
      placeholder=""
      type="password">
      @if (form.errors?.['passwordMismatch']) {
        <div error class="label-text-alt text-error">
          As passwords não são iguais
        </div>
      }
    </app-input>

    <app-input
      [control]="repeatPassword"
      [required]="true"
      class="border-0 w-full p-0"
      label="Repetir"
      placeholder=""
      type="password">
      @if (form.errors?.['passwordMismatch']) {
        <div error class="label-text-alt text-error">
          As passwords não são iguais
        </div>
      }
    </app-input>
  </div>

  <h2 class="card-title mb-3 mt-4">Morada</h2>
  <app-input
    [control]="address"
    [required]="true"
    class="border-0 w-full p-0"
    label="Endereço"
    placeholder="Rua da Cruz"
    type="text">
    <svg class="size-6" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24"
         xmlns="http://www.w3.org/2000/svg">
      <path d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" stroke-linecap="round" stroke-linejoin="round" />
      <path d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z" stroke-linecap="round"
            stroke-linejoin="round" />
    </svg>
  </app-input>

  <div class="grid grid-cols-2 gap-5">
    <app-input
      [control]="postcode"
      [required]="true"
      class="border-0 w-full p-0"
      label="Codigo Postal"
      placeholder="7778-234"
      type="text" />

    <app-input
      [control]="city"
      [required]="true"
      class="border-0 w-full p-0"
      label="Cidade"
      placeholder="Lisboa"
      type="text" />
  </div>

  <h2 class="card-title mb-3 mt-4">Dados Pessoais</h2>

  <div class="grid grid-cols-2 gap-5">
    <app-input
      [control]="fiscalCode"
      [required]="true"
      class="border-0 w-full p-0"
      label="NIF"
      placeholder="200000000"
      type="text" />

    <app-select-box
      [control]="nationality"
      [data]="nationalities"
      label="Nacionalidade"
    />
  </div>

  <h2 class="card-title mb-3 mt-4">Permissões</h2>
  <app-select-box
    [control]="role"
    [data]="roles"
    (change)="onRoleChange()"
    label="Função"
  />

  @if(form.controls['role'].getRawValue()==='manager' || form.controls['role'].getRawValue()==='caretaker') {
    <h2 class="card-title mb-3 mt-4">Dados de Contrato</h2>

    <div class="grid grid-cols-2 gap-5">
      <app-input
        [control]="contractStart"
        [required]="true"
        class="border-0 w-full p-0"
        label="Início do Contrato"
        placeholder="YYYY-MM-DD"
        type="date">
      </app-input>

      <app-input
        [control]="contractEnds"
        [required]="true"
        class="border-0 w-full p-0"
        label="Fim do Contrato"
        placeholder="YYYY-MM-DD"
        type="date">
      </app-input>
    </div>

    <app-input
      [control]="salary"
      [required]="true"
      class="border-0 w-full p-0"
      label="Salário"
      placeholder="50000.00"
      type="number">
    </app-input>
  }

  <div class="flex justify-center pt-10">
    <app-button label="Guardar" type="submit" (click)="onSubmit()" />
  </div>
</form>
