
  <div class="flex flex-col items-center justify start text-center px-4 h-screen pt-12">
    <h1 class="text-6xl font-bold text-primary">Onde é que pensas que vais?</h1>
    <p class="text-lg mt-4">A página que tentas aceder não foi encontrada...</p>

    <div class="my-8">
      <img src="oldLady2.gif" alt="Ilustração de idosa" class="w-72 h-auto mx-auto rounded-full shadow-md">
    </div>
    <h3 class="text-2xl font-semibold mb-6">Vamos voltar ao lar?</h3>
    <button
      [routerLink]="getNavigationRoute()"
      class="mt-6 px-6 py-2 bg-primary rounded"
    >
      Página Inicial
    </button>
  </div>

