<ng-container *ngIf="!error; else errorTpl">
  <div *ngIf="resident" class="container mx-auto p-4 md:p-6 max-w-full overflow-hidden">
    <div class="card bg-base-100 shadow-xl relative">
      <div class="card-body pt-6">
        <!-- Title and Buttons Aligned -->
        <div class="flex flex-col md:flex-row justify-between items-center mb-4">
          <h2 class="card-title text-2xl font-semibold text-center md:text-left">
            Perfil do Residente
          </h2>
          <!-- Buttons -->
          <div class="flex flex-wrap justify-center md:justify-end gap-2">
            <!-- Botão de Saúde com Dropdown -->
            <div class="dropdown">
              <label
                tabindex="0"
                class="btn btn-primary inline-flex items-center gap-1 text-xs md:text-base"
              >
                <img src="healthcare.svg" alt="Healthcare Icon" class="w-6 h-6 z-50" />
                Saúde
              </label>
              <ul
                tabindex="0"
                class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52"
              >
                <li>
                  <a
                    [routerLink]="['/residents', resident.id, 'health-reports']"
                    class="inline-flex items-center gap-1 text-xs md:text-base"
                  >
                    <img src="medical-report.svg" alt="Medical Report Icon" class="w-6 h-6 " />
                    Relatórios
                  </a>
                </li>
                <li>
                  <a
                    [routerLink]="['/residents', resident.id, 'medicaments']"
                    class="inline-flex items-center gap-1 text-xs md:text-base"
                  >
                    <img src="medicine.svg" alt="Medicine Icon" class="w-6 h-6" />
                    Medicação
                  </a>
                </li>
                <li>
                  <a
                    [routerLink]="['/residents', resident.id, 'appointments']"
                    class="inline-flex items-center gap-1 text-xs md:text-base"
                  >
                    <img src="medical-check.svg" alt="Medical Check Icon" class="w-6 h-6" />
                    Consultas
                  </a>
                </li>
              </ul>
            </div>
            <!-- Botão de Mensagens -->
            <a
              [routerLink]="['/residents', resident.id, 'messages']"
              class="btn btn-secondary inline-flex items-center gap-1 text-xs md:text-base"
            >
              <img src="comments.svg" alt="Comments Icon" class="w-6 h-6" />
              Mensagens
            </a>
            <!-- Botão de Pagamentos -->
            <a
              [routerLink]="['/residents', resident.id, 'payments']"
              class="btn btn-success inline-flex items-center gap-1 text-xs md:text-base"
            >
              <img src="money.svg" alt="Wallet Icon" class="w-6 h-6" />
              Pagamentos
            </a>
            <!-- Botão de Perfil com Dropdown -->
            <div class="dropdown">
              <label
                tabindex="0"
                class="btn btn-info inline-flex items-center gap-1 text-xs md:text-base"
              >
                <img src="profile.svg" alt="Profile Icon" class="w-6 h-6" />
                Perfil
              </label>
              <ul
                tabindex="0"
                class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52"
              >
                <li>
                  <a
                    [routerLink]="['/residents', resident.id, 'edit']"
                    class="inline-flex items-center gap-1 text-xs md:text-base"
                  >
                    <img src="pencil.svg" alt="Edit Icon" class="w-6 h-6" />
                    Editar
                  </a>
                </li>
                <li>
                  <button
                    (click)="showDeleteModal()"
                    class="inline-flex items-center gap-1 text-xs md:text-base text-error"
                  >
                    <img src="delete.svg" alt="Delete Icon" class="w-6 h-6" />
                    Eliminar
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Perfil e informações do residente -->
        <div class="flex flex-col md:flex-row items-center md:items-start gap-4 md:gap-6 ">
          <div class="avatar flex-shrink-0">
            <div
              class="w-32 h-32 md:w-72 md:h-72 rounded-lg ring ring-neutral ring-offset-base-100 ring-offset-2 overflow-hidden "
            >
              <!-- Image Placeholder -->
            </div>
          </div>
          <div
            class="grid grid-cols-1 md:grid-cols-2 gap-4 p-4 bg-neutral rounded-lg w-full md:min-h-auto"
          >
            <div class="space-y-2">
              <h3 class="text-xl font-semibold mb-2 text-center md:text-left">
                Dados Pessoais
              </h3>
              <p><span class="font-bold">Nome:</span> {{ resident.name }}</p>
              <p>
                <span class="font-bold">Identificação Fiscal:</span>
                {{ resident.fiscalId }}
              </p>
              <p>
                <span class="font-bold">Data de Nascimento:</span>
                {{ resident.birthDate | date: 'dd MMMM yyyy' }}
              </p>
            </div>
            <div class="space-y-2">
              <p>
                <span class="font-bold">Nacionalidade:</span>
                {{ resident.nationality }}
              </p>
              <p>
                <span class="font-bold">Estado Civil:</span>
                {{ resident.civilStatus }}
              </p>
              <p>
                <span class="font-bold">Número da Cama:</span>
                {{ resident.bedNumber }}
              </p>
              <p>
                <span class="font-bold">Parentes:</span>
                {{ resident.relatives.length }} registado(s)
              </p>
            </div>
            <div class="space-y-2">
              <h3 class="text-xl font-semibold mb-2 text-center md:text-left">
                Informações de Saúde
              </h3>
              <p>
                <span class="font-bold">Problemas de Mobilidade:</span>
                {{ resident.mobility || 'Nenhum cuidado específico registrado' }}
              </p>
              <p>
                <span class="font-bold">Cuidados Especiais:</span>
                {{ resident.specificCare || 'Nenhum cuidado específico registrado' }}
              </p>
              <p>
                <span class="font-bold">Alergias:</span>
                {{ resident.allergies || 'Nenhum cuidado específico registrado' }}
              </p>
            </div>
            <div class="space-y-2">
              <h3 class="text-xl font-semibold mb-2 text-center md:text-left">
                Informações Alimentares
              </h3>
              <p><span class="font-bold">Dieta:</span> {{ resident.diet }}</p>
              <p>
                <span class="font-bold">Restrições Alimentares:</span>
                {{ resident.dietRestrictions || 'Nenhuma restrição' }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal de Confirmação -->
    <app-modal-confirm
      title="Apagar Residente"
      message="Tem certeza de que deseja excluir este residente?"
      confirmLabel="Eliminar"
      (confirm)="onDelete()"
    ></app-modal-confirm>
  </div>

  <div *ngIf="!resident">
    <app-loading />
  </div>
</ng-container>

<!-- Template de Erro -->
<ng-template #errorTpl>
  <p class="text-error p-4">{{ error }}</p>
</ng-template>
