<ng-container *ngIf="!error; else errorTpl">
  <div *ngIf="resident" class="container mx-auto p-4 md:p-6">
    <div class="card bg-base-100 shadow-xl relative">
      <div class="card-body pt-6">
        <h2 class="card-title text-2xl font-semibold mb-4 text-center md:text-left">Perfil do Residente</h2>

        <div class="flex flex-wrap justify-center md:justify-end gap-2 mb-4">
          <!-- Botão de Saúde com Dropdown -->
          <div class="dropdown">
            <label tabindex="0" class="btn btn-primary inline-flex items-center gap-1 text-xs md:text-base">
              <!-- Ícone de Saúde -->
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                <path d="m11.645 20.91-.007-.003-.022-.012a15.247 15.247 0 0 1-.383-.218 25.18 25.18 0 0 1-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0 1 12 5.052 5.5 5.5 0 0 1 16.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 0 1-4.244 3.17 15.247 15.247 0 0 1-.383.219l-.022.012-.007.004-.003.001a.752.752 0 0 1-.704 0l-.003-.001Z" />
              </svg>
              Saúde
            </label>
            <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
              <li>
                <a [routerLink]="['/residents', resident.id, 'health-reports']" class="inline-flex items-center gap-1 text-xs md:text-base">
                  <!-- Ícone de Relatórios -->
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                    <path fill-rule="evenodd" d="M7.502 6h7.128A3.375 3.375 0 0 1 18 9.375v9.375a3 3 0 0 0 3-3V6.108c0-1.505-1.125-2.811-2.664-2.94a48.972 48.972 0 0 0-.673-.05A3 3 0 0 0 15 1.5h-1.5a3 3 0 0 0-2.663 1.618c-.225.015-.45.032-.673.05C8.662 3.295 7.554 4.542 7.502 6ZM13.5 3A1.5 1.5 0 0 0 12 4.5h4.5A1.5 1.5 0 0 0 15 3h-1.5Z" clip-rule="evenodd" />
                    <path fill-rule="evenodd" d="M3 9.375C3 8.339 3.84 7.5 4.875 7.5h9.75c1.036 0 1.875.84 1.875 1.875v11.25c0 1.035-.84 1.875-1.875 1.875h-9.75A1.875 1.875 0 0 1 3 20.625V9.375ZM6 12a.75.75 0 0 1 .75-.75h.008a.75.75 0 0 1 .75.75v.008a.75.75 0 0 1-.75.75H6.75a.75.75 0 0 1-.75-.75V12Zm2.25 0a.75.75 0 0 1 .75-.75h3.75a.75.75 0 0 1 0 1.5H9a.75.75 0 0 1-.75-.75ZM6 15a.75.75 0 0 1 .75-.75h.008a.75.75 0 0 1 .75.75v.008a.75.75 0 0 1-.75.75H6.75a.75.75 0 0 1-.75-.75V15Zm2.25 0a.75.75 0 0 1 .75-.75h3.75a.75.75 0 0 1 0 1.5H9a.75.75 0 0 1-.75-.75ZM6 18a.75.75 0 0 1 .75-.75h.008a.75.75 0 0 1 .75.75v.008a.75.75 0 0 1-.75.75H6.75a.75.75 0 0 1-.75-.75V18Zm2.25 0a.75.75 0 0 1 .75-.75h3.75a.75.75 0 0 1 0 1.5H9a.75.75 0 0 1-.75-.75Z" clip-rule="evenodd" />
                  </svg>
                  Relatórios
                </a>
              </li>
              <li>
                <a [routerLink]="['/residents', resident.id, 'medicaments']" class="inline-flex items-center gap-1 text-xs md:text-base">
                  <!-- Ícone de Medicação -->
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                    <path fill-rule="evenodd" d="M16.098 2.598a3.75 3.75 0 1 1 3.622 6.275l-1.72.46V12a.75.75 0 0 1-.22.53l-.75.75a.75.75 0 0 1-1.06 0l-.97-.97-7.94 7.94a2.56 2.56 0 0 1-1.81.75 1.06 1.06 0 0 0-.75.31l-.97.97a.75.75 0 0 1-1.06 0l-.75-.75a.75.75 0 0 1 0-1.06l.97-.97a1.06 1.06 0 0 0 .31-.75c0-.68.27-1.33.75-1.81L11.69 9l-.97-.97a.75.75 0 0 1 0-1.06l.75-.75A.75.75 0 0 1 12 6h2.666l.461-1.72c.165-.617.49-1.2.971-1.682Zm-3.348 7.463L4.81 18a1.06 1.06 0 0 0-.31.75c0 .318-.06.63-.172.922a2.56 2.56 0 0 1 .922-.172c.281 0 .551-.112.75-.31l7.94-7.94-1.19-1.19Z" clip-rule="evenodd" />
                  </svg>
                  Medicação
                </a>
              </li>
              <li>
                <a [routerLink]="['/residents', resident.id, 'appointments']" class="inline-flex items-center gap-1 text-xs md:text-base">
                  <!-- Ícone de Consultas -->
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                    <path d="M12.75 12.75a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM7.5 15.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM8.25 17.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM9.75 15.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM10.5 17.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM12 15.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM12.75 17.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM14.25 15.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM15 17.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM16.5 15.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM15 12.75a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM16.5 13.5a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Z" />
                    <path fill-rule="evenodd" d="M6.75 2.25A.75.75 0 0 1 7.5 3v1.5h9V3A.75.75 0 0 1 18 3v1.5h.75a3 3 0 0 1 3 3v11.25a3 3 0 0 1-3 3H5.25a3 3 0 0 1-3-3V7.5a3 3 0 0 1 3-3H6V3a.75.75 0 0 1 .75-.75Zm13.5 9a1.5 1.5 0 0 0-1.5-1.5H5.25a1.5 1.5 0 0 0-1.5 1.5v7.5a1.5 1.5 0 0 0 1.5 1.5h13.5a1.5 1.5 0 0 0 1.5-1.5v-7.5Z" clip-rule="evenodd" />
                  </svg>
                  Consultas
                </a>
              </li>
            </ul>
          </div>
          <!-- Botão de Mensagens -->
          <a [routerLink]="['/residents', resident.id, 'messages']" class="btn btn-secondary inline-flex items-center gap-1 text-xs md:text-base">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
              <path d="M3.75 3.75a.75.75 0 0 1 .75-.75h15a.75.75 0 0 1 .75.75v12a.75.75 0 0 1-.75.75H6.061l-2.44 2.44a.75.75 0 0 1-1.28-.53v-14a.75.75 0 0 1 .75-.75Z"/>
            </svg>
            Mensagens
          </a>
          <!-- Botão de Pagamentos -->
          <a [routerLink]="['/residents', resident.id, 'payments']" class="btn btn-success inline-flex items-center gap-1 text-xs md:text-base">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
              <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm-1.902 7.098a3.75 3.75 0 0 1 3.903-.884.75.75 0 1 0 .498-1.415A5.25 5.25 0 0 0 8.005 9.75H7.5a.75.75 0 0 0 0 1.5h.054a5.281 5.281 0 0 0 0 1.5H7.5a.75.75 0 0 0 0 1.5h.505a5.25 5.25 0 0 0 6.494 2.701.75.75 0 1 0-.498-1.415 3.75 3.75 0 0 1-4.252-1.286h3.001a.75.75 0 0 0 0-1.5H9.075a3.77 3.77 0 0 1 0-1.5h3.675a.75.75 0 0 0 0-1.5h-3c.105-.14.221-.274.348-.402Z" clip-rule="evenodd" />
            </svg>
            Pagamentos
          </a>
          <!-- Botão de Perfil com Dropdown -->
          <div class="dropdown">
            <label tabindex="0" class="btn btn-info inline-flex items-center gap-1 text-xs md:text-base">
              <!-- Ícone de Perfil -->
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                <path fill-rule="evenodd" d="M18.685 19.097A9.723 9.723 0 0 0 21.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 0 0 3.065 7.097A9.716 9.716 0 0 0 12 21.75a9.716 9.716 0 0 0 6.685-2.653Zm-12.54-1.285A7.486 7.486 0 0 1 12 15a7.486 7.486 0 0 1 5.855 2.812A8.224 8.224 0 0 1 12 20.25a8.224 8.224 0 0 1-5.855-2.438ZM15.75 9a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z" clip-rule="evenodd" />
              </svg>
              Perfil
            </label>
            <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
              <li>
                <a [routerLink]="['/residents', resident.id, 'edit']" class="inline-flex items-center gap-1 text-xs md:text-base">
                  <!-- Ícone de Editar -->
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                    <path d="M21.731 2.269a2.625 2.625 0 0 0-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 0 0 0-3.712ZM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 0 0-1.32 2.214l-.8 2.685a.75.75 0 0 0 .933.933l2.685-.8a5.25 5.25 0 0 0 2.214-1.32l8.4-8.4Z" />
                    <path d="M5.25 5.25a3 3 0 0 0-3 3v10.5a3 3 0 0 0 3 3h10.5a3 3 0 0 0 3-3V13.5a.75.75 0 0 0-1.5 0v5.25a1.5 1.5 0 0 1-1.5 1.5H5.25a1.5 1.5 0 0 1-1.5-1.5V8.25a1.5 1.5 0 0 1 1.5-1.5h5.25a.75.75 0 0 0 0-1.5H5.25Z" />
                  </svg>
                  Editar
                </a>
              </li>
              <li>
                <button (click)="showDeleteModal()" class="inline-flex items-center gap-1 text-xs md:text-base text-error">
                  <!-- Ícone de Eliminar -->
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                    <path fill-rule="evenodd" d="M16.5 4.478v.227a48.816 48.816 0 0 1 3.878.512.75.75 0 1 1-.256 1.478l-.209-.035-1.005 13.07a3 3 0 0 1-2.991 2.77H8.084a3 3 0 0 1-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 0 1-.256-1.478A48.567 48.567 0 0 1 7.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 0 1 3.369 0c1.603.051 2.815 1.387 2.815 2.951Zm-6.136-1.452a51.196 51.196 0 0 1 3.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 0 0-6 0v-.113c0-.794.609-1.428 1.364-1.452Zm-.355 5.945a.75.75 0 1 0-1.5.058l.347 9a.75.75 0 1 0 1.499-.058l-.346-9Zm5.48.058a.75.75 0 1 0-1.498-.058l-.347 9a.75.75 0 0 0 1.5.058l.345-9Z" clip-rule="evenodd" />
                  </svg>
                  Eliminar
                </button>
              </li>
            </ul>
          </div>
        </div>



        <!-- Perfil e informações do residente -->
        <div class="flex flex-col md:flex-row items-center md:items-start gap-4 md:gap-6">
          <div class="avatar flex-shrink-0">
            <div class="w-32 h-32 md:w-72 md:h-72 rounded-lg ring ring-neutral ring-offset-base-100 ring-offset-2 overflow-hidden">
              <!--              <img [src]="resident.image || 'https://via.placeholder.com/150'"-->
              <!--                   alt="Foto do Residente"-->
              <!--                   class="object-cover w-full h-full max-w-full" />-->
            </div>
          </div>

          <div class="grid grid-cols-1 md:grid-cols-2 gap-4 p-4 bg-neutral rounded-lg w-full md:min-h-auto">
            <div class="space-y-2">
              <h3 class="text-xl font-semibold mb-2 text-center md:text-left">Dados Pessoais</h3>
              <p><span class="font-bold">Nome:</span> {{ resident.name }}</p>
              <p><span class="font-bold">Identificação Fiscal:</span> {{ resident.fiscalId }}</p>
              <p><span class="font-bold">Data de Nascimento:</span> {{ resident.birthDate | date: 'dd MMMM yyyy' }}</p>
            </div>
            <div class="space-y-2">
              <p><span class="font-bold">Nacionalidade:</span> {{ resident.nationality }}</p>
              <p><span class="font-bold">Estado Civil:</span> {{ resident.civilStatus }}</p>
              <p><span class="font-bold">Número da Cama:</span> {{ resident.bedNumber }}</p>
              <p><span class="font-bold">Parentes:</span> {{ resident.relatives.length }} registado(s)</p>
            </div>
            <div class="space-y-2">
              <h3 class="text-xl font-semibold mb-2 text-center md:text-left">Informações de Saúde</h3>
              <p><span class="font-bold">Problemas de Mobilidade:</span> {{ resident.mobility || 'Nenhum cuidado específico registrado' }}</p>
              <p><span class="font-bold">Cuidados Especiais:</span> {{ resident.specificCare || 'Nenhum cuidado específico registrado' }}</p>
              <p><span class="font-bold">Alergias:</span> {{ resident.allergies || 'Nenhum cuidado específico registrado' }}</p>
            </div>
            <div class="space-y-2">
              <h3 class="text-xl font-semibold mb-2 text-center md:text-left">Informações Alimentares</h3>
              <p><span class="font-bold">Dieta:</span> {{ resident.diet }}</p>
              <p><span class="font-bold">Restrições Alimentares:</span> {{ resident.dietRestrictions || 'Nenhuma restrição' }}</p>
            </div>
          </div>


        </div>
      </div>
    </div>

    <!-- Modal de Confirmação -->
    <app-modal-confirm
      title="Apagar Residente"
      message="Tem certeza de que deseja excluir este residente?"
      confirmLabel="Eliminar"
      (confirm)="onDelete()"
    ></app-modal-confirm>
  </div>

  @if(!resident) {
    <app-loading />
  }
</ng-container>

<!-- Template de Erro -->
<ng-template #errorTpl>
  <p class="text-error p-4">{{ error }}</p>
</ng-template>


<!-- Template de Erro -->
<ng-template #errorTpl>
  <p class="text-error p-4">{{ error }}</p>
</ng-template>

