<div class="flex-nowrap text-nowrap">
  <div class="form-control w-full">
    <label [class.input-error]="control().invalid && control().touched"
      class="input input-bordered flex items-center gap-2 text-nowrap flex-nowrap">
      <span class="text-nowrap">
        {{displayLabel}}
      </span>

      <input [formControl]="control()" [placeholder]="placeholder()" [type]="type()"
        class="grow border-0 focus:ring-0 active:ring-0" />
      <ng-content />

    </label>
    <div class="label">
      <span class="label-text-alt text-error">
        @if (control().invalid && control().touched) {
        @if (message) {
        {{ message }}
        } @else {
        <ng-content select="[error]" />
        }}</span>
    </div>
  </div>
</div>