<div class="form-control w-full">
  <!--  <div class="label">-->
  <!--    <span class="label-text">What is your name?</span>-->
  <!--    <span class="label-text-alt">Top Right label</span>-->
  <!--  </div>-->
  <label [class.border-error]="!valid()"
         class="input input-bordered flex items-center gap-2 text-nowrap flex-nowrap">
    <span class="text-nowrap">
          {{ label() }} @if (required()) {
      *
    }
    </span>

    <input
      [placeholder]="placeholder()"
      [type]="type()"
      class="grow border-0 focus:ring-0 active:ring-0"/>
    <ng-content/>


  </label>
  <div class="label">
    @if (errorMessage()) {
      <span class="label-text-alt text-error">{{ errorMessage() }}</span>
    }
    <!--    <span class="label-text-alt text-success">Bottom Right label</span>-->
  </div>
</div>

