<td class="w-32 text-xs">{{ medication.id }}</td>
<td class="w-32 text-xs">{{ medication.name }}</td>
<td class="w-32 text-xs">{{ medication.instructions }}</td>
<!--<td class="w-32 text-xs">{{ medication.resident }}</td>-->
<td class="w-32 text-xs">{{ medication.quantity }}</td>
<!--<td class="w-32 text-xs">{{ medication.prescriptions }}</td>-->
<!--<td class="w-32 text-xs">{{ medication.validity }}</td>-->
<td class="w-40">
  <div class="flex space-x-1">
    <button class="btn btn-sm btn-info text-xs">Detalhes</button>
    <button class="btn btn-sm btn-warning text-xs">Editar</button>
    <button class="btn btn-sm btn-error text-xs">Remover</button>
  </div>
</td>


