<form class="lg:px-36" (ngSubmit)="onSubmit()" [formGroup]="form">

  <!-- Dados Pessoais -->
  <h2 class="mb-3 card-title">Dados Pessoais</h2>
  <app-input
    [control]="name"
    [required]="true"
    class="border-0 w-full p-0"
    label="Nome"
    placeholder="João Silva"
    type="text" />

  <div class="grid grid-cols-2 gap-2">
    <app-input
      [control]="fiscalId"
      [required]="true"
      class="border-0 w-full p-0"
      label="ID Fiscal"
      placeholder="200000000"
      type="text" />

    <app-input
      [control]="birthDate"
      [required]="true"
      class="border-0 w-full p-0"
      label="Data de Nascimento"
      placeholder="dd/mm/yyyy"
      type="date" />

    <app-select-box
      [control]="civilStatus"
      [data]="civilStatuses"
      label="Estado Civil" />

    <app-select-box
      [control]="nationality"
      [data]="nationalities"
      label="Nacionalidade"
    />
  </div>
  <br>
  <hr>


  <!-- Informações de Saúde -->
  <h2 class="card-title mb-3 mt-4">Informações de Saúde</h2>
  <div class="grid grid-cols-2 gap-2">
    <!-- Problemas de Mobilidade -->
    <app-select-box
      [control]="mobility"
      [data]="mobilityIssues"
      class="border-0 w-full p-0"
      label="Problemas de Mobilidade" />

    <!-- Exibição da Mensalidade -->
    <div class="flex-nowrap text-nowrap">
      <div class="form-control w-full">
        <div class="input input-bordered flex items-center gap-2 text-nowrap flex-nowrap bg-gray-100 text-gray-800">
        {{ mensalidade !== null ? (mensalidade + ' €') : 'Mensalidade' }}
        </div>
      </div>
    </div>
  </div>




  <app-input
    [control]="specificCare"
    class="border-0 w-full p-0"
    label="Cuidados Especiais"
    placeholder="Ex: Alzheimer"
    type="text" />
  <br>
  <hr>

  <!-- Informações Alimentares -->
  <h2 class="card-title mb-3 mt-4">Informações Alimentares</h2>
  <div class="grid grid-cols-2 gap-5">
    <app-select-box
      [control]="diet"
      [data]="diets"
      label="Dieta"
      />

    <app-input
      [control]="dietRestrictions"
      class="border-0 w-full p-0"
      label="Restrições Alimentares"
      placeholder="Ex: Intolerância a lactose"
      type="text" />
  </div>

  <app-input
    [control]="allergies"
    class="border-0 w-full p-0"
    label="Alergias"
    placeholder="Ex: Amendoim, glúten"
    type="text" />
  <br>
  <hr>

  <!-- Informações de Quarto -->
  <h2 class="card-title mb-3 mt-4">Informações de Quarto</h2>
  <app-select-box
    [control]="bedNumber"
    [data]="bedNumbers"
    class="border-0 w-full p-0"
    label="Número de Cama"/>

  <app-select-box-multiple
    [data]="relativeOptions"
    [control]="relatives"/>


  <!-- Botão de Submissão -->
  <div class="flex justify-center pt-10">
    <app-button label="Guardar" type="submit" />
  </div>
</form>
