<form class="lg:px-36" (ngSubmit)="onSubmit()" [formGroup]="form">

  <!-- Dados Pessoais -->
  <h2 class="mb-3 card-title">Dados Pessoais</h2>
  <app-input
    [control]="name"
    [required]="true"
    class="border-0 w-full p-0"
    label="Nome"
    placeholder="João Silva"
    type="text" />

  <div class="grid grid-cols-2 gap-5">
    <app-input
      [control]="fiscalId"
      [required]="true"
      class="border-0 w-full p-0"
      label="ID Fiscal"
      placeholder="200000000"
      type="text" />

    <app-input
      [control]="birthDate"
      [required]="true"
      class="border-0 w-full p-0"
      label="Data de Nascimento"
      placeholder="dd/mm/yyyy"
      type="date" />

    <app-select-box
      [control]="civilStatus"
      [data]="civilStatuses"
      label="Estado Civil" />

    <app-select-box
      [control]="nationality"
      [data]="nationalities"
      label="Nacionalidade"
    />
  </div>

  <!-- Informações de Saúde -->
  <h2 class="card-title mb-3 mt-4">Informações de Saúde</h2>
  <app-select-box
    [control]="specificCare"
    [data]="specificCareOptions"
    class="border-0 w-full p-0"
    label="Problemas de Mobilidade"/>

<!--  &lt;!&ndash; Budget Information &ndash;&gt;-->
<!--  <div class="sticky-note bg-yellow-200 p-4 mt-4 rounded absolute top-0 right-0">-->
<!--    <h3 class="text-lg font-bold">Budget Information</h3>-->
<!--    <p></p>-->
<!--  </div>-->


  <!-- Informações Alimentares -->
  <h2 class="card-title mb-3 mt-4">Informações Alimentares</h2>
  <div class="grid grid-cols-2 gap-5">
    <app-select-box
      [control]="diet"
      [data]="diets"
      label="Dieta"
      />

    <app-input
      [control]="dietRestrictions"
      class="border-0 w-full p-0"
      label="Restrições Alimentares"
      placeholder="Ex: Intolerância a lactose"
      type="text" />
  </div>

  <app-input
    [control]="allergies"
    class="border-0 w-full p-0"
    label="Alergias"
    placeholder="Ex: Amendoim, glúten"
    type="text" />

  <!-- Informações de Quarto -->
  <h2 class="card-title mb-3 mt-4">Informações de Quarto</h2>
  <app-select-box
    [control]="bedNumber"
    [data]="bedNumbers"
    class="border-0 w-full p-0"
    label="Número de Cama"/>

  <!-- Parentes -->
  <h2 class="card-title mb-3 mt-4">Parentes</h2>
  <app-select-box
    [control]="relatives"
    [data]="relativeOptions"
    class="border-0 w-full p-0"
    label="Escolha os Parentes"
    [multiple]="true"/>

  <!-- Botão de Submissão -->
  <div class="flex justify-center pt-10">
    <app-button label="Guardar" type="submit" />
  </div>
</form>
