<ng-container *ngIf="!error; else errorTpl">
  <div *ngIf="user" class="container mx-auto p-4 md:p-6">
    <div class="card bg-base-100 shadow-xl relative">
      <div class="card-body pt-6">
        <!-- Cabeçalho com Título e Botões -->
        <div class="flex flex-col md:flex-row items-center md:justify-between gap-4 mb-4">
          <!-- Título -->
          <h2 class="card-title text-2xl font-semibold text-center md:text-left">
            Perfil do Utilizador
          </h2>

          <!-- Botões de Ação -->
          <div class="flex flex-wrap justify-center md:justify-end gap-2">
            <!-- Botão de Turnos (Apenas para Managers) -->
            <ng-container *ngIf="user.role === Role.Manager">
              <a
                [routerLink]="['/employees', user.id, 'shift']"
                class="btn btn-secondary inline-flex items-center gap-1 text-xs md:text-base"
              >
                <img src="shift.svg" alt="Shift Icon" class="w-6 h-6" />
                Turnos
              </a>
            </ng-container>

            <!-- Botão de Editar -->
            <a
              [routerLink]="['/users', user.id, 'edit']"
              class="btn btn-info inline-flex items-center gap-1 text-xs md:text-base"
            >
              <img src="pencil.svg" alt="Edit Icon" class="w-6 h-6" />
              Editar
            </a>

            <!-- Botão de Eliminar -->
            <button
              (click)="showDeleteModal()"
              class="btn btn-primary inline-flex items-center gap-1 text-xs md:text-base"
            >
              <img src="delete.svg" alt="Delete Icon" class="w-6 h-6" />
              Eliminar
            </button>
          </div>
        </div>

        <!-- Perfil e informações do utilizador -->
        <div class="flex flex-col md:flex-row items-center md:items-start gap-4 md:gap-6">
          <!-- Foto de Perfil -->
          <div class="avatar flex-shrink-0">
            <div
              class="w-32 h-32 md:w-72 md:h-72 rounded-lg ring ring-neutral ring-offset-base-100 ring-offset-2 overflow-hidden"
            >
              <!-- <img
                [src]="user.image || 'https://via.placeholder.com/150'"
                alt="Foto do Utilizador"
                class="object-cover w-full h-full"
              /> -->
            </div>
          </div>

          <!-- Informações Básicas -->
          <div class="grid grid-cols-1 md:grid-cols-2 gap-4 p-4 bg-neutral rounded-lg w-full md:min-h-auto">
            <div class="space-y-2">
              <h3 class="text-xl font-semibold mb-2 text-center md:text-left">Dados Pessoais</h3>
              <p><span class="font-bold">Nome:</span> {{ user.name }}</p>
              <p><span class="font-bold">Email:</span> {{ user.email }}</p>
              <p><span class="font-bold">Número de Telefone:</span> {{ user.phoneNumber }}</p>
              <p><span class="font-bold">ID Fiscal:</span> {{ user.fiscalId }}</p>
              <p><span class="font-bold">Nacionalidade:</span> {{ user.nationality }}</p>
              <p><span class="font-bold">Função:</span> {{ user.role }}</p>
            </div>
            <div class="space-y-2">
              <p><span class="font-bold">Morada:</span> {{ user.address }}</p>
              <p><span class="font-bold">Cidade:</span> {{ user.city }}</p>
              <p><span class="font-bold">Código Postal:</span> {{ user.postcode }}</p>
              <ng-container *ngIf="user.role !== Role.Relative">
                <p><span class="font-bold">Salário:</span> {{ user.employee?.salary }}</p>
                <p><span class="font-bold">Início do Contrato:</span> {{ user.employee?.contractStart | date: 'dd MMMM yyyy' }}</p>
                <p><span class="font-bold">Fim do Contrato:</span> {{ user.employee?.contractEnds | date: 'dd MMMM yyyy' }}</p>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal de Confirmação -->
    <app-modal-confirm
      title="Apagar Utilizador"
      message="Tem certeza de que deseja excluir este utilizador?"
      confirmLabel="Eliminar"
      (confirm)="onDelete()"
    ></app-modal-confirm>
  </div>

  <!-- Loading Placeholder -->
  <ng-container *ngIf="!user">
    <app-loading></app-loading>
  </ng-container>
</ng-container>

<!-- Template de Erro -->
<ng-template #errorTpl>
  <p class="text-error p-4">{{ error }}</p>
</ng-template>
