<div class="card bg-neutral text-neutral-content w-full mt-1 z-50">
    <div class="card-body items-center text-center">
        <h2 class="card-title"></h2>
        <p>{{task().message}}
            @if(task().date) {
            às {{task().date | date: 'dd/MM/yyyy H H:mm'}}
            }
            @if (task().user){
            atribuido a {{task().user.name}}
            }
        </p>
        <small></small>
        <div class="card-actions justify-end">
            <button class="btn btn-primary" (click)="setTaskAsCanceled()">Cancelar</button>
            @if(task().status === NotificationStatus.PENDING && (
            task().type === NotificationType.APPOINTMENT ||
            task().type === NotificationType.MEDICAMENT)) {
            <button class="btn btn-success" (click)="setTaskAsOngoing()">Atribuir a min</button>
            }
            @else {
            <button class="btn btn-success" (click)="setTaskAsDone()">Concluir</button>
            }

            <button (click)="seeResident(task())" class="btn btn-primary" for="my-drawer"
                aria-label="close sidebar">Residente
            </button>
            <button (click)="seeTask(task())" class="btn btn-primary" for="my-drawer"
                aria-label="close sidebar">Detalhes</button>
        </div>
    </div>
</div>