<td class="w-32 text-xs">{{ resident.id }}</td> <!-- Texto menor para NIF -->
<td class="w-32 text-xs">{{ resident.name }}</td> <!-- Texto menor para NIF -->
<td class="w-32 text-xs">{{ resident.fiscalId }}</td> <!-- Texto menor para NIF -->
<td class="w-32 text-xs">{{ resident.nationality }}</td> <!-- Texto menor para Contacto -->
<td class="w-32 text-xs">{{ resident.civilStatus }}</td>
<!--<td class="w-32 text-xs">{{ resident.specificCare }}</td>-->
<!--<td class="w-32 text-xs">{{ resident.diet }}</td>-->
<!--<td class="w-32 text-xs">{{ resident.dietRestrictions }}</td>-->
<!--<td class="w-32 text-xs">{{ resident.allergies }}</td>-->
<!--<td class="w-24 text-xs">{{ resident.bedNumber }}</td>-->
<td class="w-40">
  <div class="flex space-x-1">
    <button class="btn btn-sm btn-info text-xs">Detalhes</button>
    <button class="btn btn-sm btn-warning text-xs">Editar</button>
    <button class="btn btn-sm btn-error text-xs">Remover</button>
  </div>
</td>


