<ng-container *ngIf="!error; else errorTpl">
  <div *ngIf="medicationForm" class="container mx-auto p-4 md:p-6">
    <div class="card bg-base-100 shadow-xl relative">
      <div class="card-body pt-6">
        <h2 class="card-title text-2xl font-semibold mb-4 text-center md:text-left">Editar Medicamento</h2>

        <form [formGroup]="medicationForm" (ngSubmit)="onSave()">
          <div class="grid grid-cols-1 md:grid-cols-2 gap-4 p-4 bg-base-200 rounded-lg w-full">
            <div class="space-y-2">
              <label for="name" class="font-bold">Nome:</label>
              <input id="name" formControlName="name" type="text" class="input input-bordered w-full" />
            </div>
            <div class="space-y-2">
              <label for="instructions" class="font-bold">Instruções:</label>
              <input id="instructions" formControlName="instructions" type="text" class="input input-bordered w-full" />
            </div>
            <div class="space-y-2">
              <label for="quantity" class="font-bold">Quantidade:</label>
              <input id="quantity" formControlName="quantity" type="number" class="input input-bordered w-full" />
            </div>
            <div class="space-y-2">
              <label for="prescriptionQuantity" class="font-bold">Quantidade Prescrita:</label>
              <input id="prescriptionQuantity" formControlName="prescriptionQuantity" type="number" class="input input-bordered w-full" />
            </div>
            <div class="space-y-2">
              <label for="dueDate" class="font-bold">Data de Validade:</label>
              <input id="dueDate" formControlName="dueDate" type="date" class="input input-bordered w-full"/>
            </div>
          </div>

          <div class="flex flex-col md:flex-row justify-center items-center pt-10 space-y-4 md:space-y-0 md:space-x-5">
            <button type="submit" class="btn btn-primary">Salvar</button>
            <button type="button" class="btn" (click)="onCancel()">Cancelar</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div *ngIf="!medicationForm">
    <app-loading />
  </div>
</ng-container>

<!-- Template de Erro -->
<ng-template #errorTpl>
  <p class="text-error p-4">{{ error }}</p>
</ng-template>
