<div class="p-2">
  <table class="table">
    <thead>
    <tr>
      <th (click)="handleHeaderClick('name')" class="w-40">Nome</th>
      <th (click)="handleHeaderClick('instructions')" class="w-64">Instruções</th>
      <th (click)="handleHeaderClick('quantity')" class="w-32">Quantidade</th>
      <th (click)="handleHeaderClick('prescribedQnt')" class="w-32">Quantidade de prescrições</th>
      <th (click)="handleHeaderClick('validity')" class="w-32">Validade</th>
      <th class="w-40">Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let medicamento of medicamentos" [medicamento]="medicamento" app-medication-table-row></tr>
    </tbody>
  </table>
</div>
