<div class="p-2">
  <table class="table">
    <thead>
    <tr>
<!--      &lt;!&ndash; <th (click)="handleHeaderClick('name')" class="w-40">Nome</th>-->
<!--      <th (click)="handleHeaderClick('instructions')" class="w-32">Instruções</th>-->
<!--      <th (click)="handleHeaderClick('resident')" class="w-32">Residente</th>-->
<!--      <th (click)="handleHeaderClick('quantity')" class="w-32">Quantidade</th>-->
<!--      <th (click)="handleHeaderClick('prescriptions')" class="w-64">Prescrições</th>-->
<!--      <th (click)="handleHeaderClick('validity')" class="w-24">Validade</th>-->
<!--      <th (click)="handleHeaderClick('actions')" class="w-24">Ações</th>-->
     </tr>
    </thead>
    <tbody>
<!--    <tr (deleteMedication)="deleteUser($event)" *ngFor="let medication of medications()" [medication]="medication" app-medication-table-row></tr>-->
    </tbody>
  </table>

</div>
