@if ((errors$ | async)?.length) {
<div class="fixed w-full h-full z-50 top-0 left-0 flex items-center justify-center flex-col">
    <dialog id="error_modal" class="modal modal-open modal-bottom sm:modal-middle">
        <div class="modal-box">
            <h3 class="text-lg font-bold text-primary">Erro!</h3>
            <p class="py-4">Não foi possível realizar a operação. Tente novamente.
            </p>
            <ul>
                @for (error of errors$ | async; track $index) {
                <li>{{ error }}</li>
                }
            </ul>

            <div class="modal-action">
                <form method="dialog">
                  <img src="no.svg" alt="Erro" class="h-6 w-6">
                    <button (click)="clearErrors()" class="btn btn-primary">Fechar</button>
                </form>
            </div>
        </div>
    </dialog>
</div>
}
