<div class="join flex-wrap gap-4 bg-white/70 backdrop-blur-md shadow-lg rounded-lg p-4 relative ">
  <!-- Todas -->
  <div class="relative group z-50">
    <img src="all.svg" alt="Todas"
         class="join-item w-8 h-8 cursor-pointer transform transition-transform duration-200 group-hover:-translate-y-2"
         (click)="clearFilter()"
         [ngClass]="{
           'btn-secondary': (filter | async) === null,
           'btn-info': (filter | async) !== null
         }">
    <div class="absolute bottom-14 left-1/2 -translate-x-1/2 hidden group-hover:block bg-gray-800 text-white text-xs rounded-md py-1 px-2">
      Todas
    </div>
  </div>

  <!-- Administrações de Medicamentos -->
  <div class="relative group ">
    <img src="medicine.svg" alt="Administrações de Medicamentos"
         class="join-item w-8 h-8 cursor-pointer transform transition-transform duration-200 group-hover:-translate-y-2"
         (click)="filterAdministrations()"
         [ngClass]="{
           'btn-secondary': (filter | async) === NotificationType.MEDICAMENT,
           'btn-info': (filter | async) !== NotificationType.MEDICAMENT
         }">
    <div class="absolute bottom-14 left-1/2 -translate-x-1/2 hidden group-hover:block bg-gray-800 text-white text-xs rounded-md py-1 px-2 ">
      Administrações
    </div>
  </div>

  <!-- Stock de Medicamentos -->
  <div class="relative group">
    <img src="in-stock.svg" alt="Stock de Medicamentos"
         class="join-item w-8 h-8 cursor-pointer transform transition-transform duration-200 group-hover:-translate-y-2"
         (click)="filterStock()"
         [ngClass]="{
           'btn-secondary': (filter | async) === NotificationType.MEDICAMENT_STOCK,
           'btn-info': (filter | async) !== NotificationType.MEDICAMENT_STOCK
         }">
    <div class="absolute bottom-14 left-1/2 -translate-x-1/2 hidden group-hover:block bg-gray-800 text-white text-xs rounded-md py-1 px-2">
      Stock
    </div>
  </div>

  <!-- Consultas -->
  <div class="relative group">
    <img src="appointment.svg" alt="Consultas"
         class="join-item w-8 h-8 cursor-pointer transform transition-transform duration-200 group-hover:-translate-y-2"
         (click)="filterAppointments()"
         [ngClass]="{
           'btn-secondary': (filter | async) === NotificationType.APPOINTMENT,
           'btn-info': (filter | async) !== NotificationType.APPOINTMENT
         }">
    <div class="absolute bottom-14 left-1/2 -translate-x-1/2 hidden group-hover:block bg-gray-800 text-white text-xs rounded-md py-1 px-2">
      Consultas
    </div>
  </div>

  <!-- Mensagens -->
  <div class="relative group">
    <img src="comments.svg" alt="Mensagens"
         class="join-item w-8 h-8 cursor-pointer transform transition-transform duration-200 group-hover:-translate-y-2"
         (click)="filterMessages()"
         [ngClass]="{
           'btn-secondary': (filter | async) === NotificationType.MESSAGE,
           'btn-info': (filter | async) !== NotificationType.MESSAGE
         }">
    <div class="absolute bottom-14 left-1/2 -translate-x-1/2 hidden group-hover:block bg-gray-800 text-white text-xs rounded-md py-1 px-2">
      Mensagens
    </div>
  </div>

  <!-- Close Icon -->
  <div class="relative group">
    <label [htmlFor]="'my-drawer-4'" class="join-item cursor-pointer transform transition-transform duration-200 group-hover:-translate-y-2">
      <img src="no.svg" alt="Fechar" class="w-8 h-8">
    </label>
    <div class="absolute bottom-14 left-1/2 -translate-x-1/2 hidden group-hover:block bg-gray-800 text-white text-xs rounded-md py-1 px-2">
      Fechar
    </div>
  </div>
</div>
