<div *ngIf="healthreport" class="container mx-auto p-4 md:p-6">
  <div class="card bg-base-100 shadow-xl relative">
    <div class="card-body pt-6">
      <h2 class="card-title text-2xl font-semibold mb-4 text-center md:text-left">Perfil do Relatório de Saúde</h2>

      <!-- Botões de Ação -->
      <div class="flex flex-wrap justify-center md:justify-end gap-2 mb-4">
        <a href="#relatorios" class="btn btn-primary inline-flex items-center gap-1 text-xs md:text-base hover:bg-primary-dark">
          Relatórios
        </a>
        <a href="#medicacao" class="btn btn-secondary inline-flex items-center gap-1 text-xs md:text-base hover:bg-secondary-dark">
          Medicação
        </a>
        <a href="#consultas" class="btn btn-accent inline-flex items-center gap-1 text-xs md:text-base hover:bg-accent-dark">
          Consultas
        </a>
        <a href="#editar" class="btn btn-info inline-flex items-center gap-1 text-xs md:text-base hover:bg-info-dark">
          Editar
        </a>
        <a href="#eliminar" class="btn btn-error inline-flex items-center gap-1 text-xs md:text-base hover:bg-error-dark">
          Eliminar
        </a>
      </div>

      <!-- Perfil e informações do healthreport -->
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 p-4 bg-base-200 rounded-lg w-full">
        <div class="space-y-2">
          <p><span class="font-bold">Pressão Arterial:</span> {{ healthreport.arterialBloodPressure }} mmHg</p>
          <p><span class="font-bold">Temperatura:</span> {{ healthreport.temperature }} °C</p>
          <p><span class="font-bold">Altura:</span> {{ healthreport.height }} cm</p>
          <p><span class="font-bold">Peso:</span> {{ healthreport.weight }} kg</p>
          <p><span class="font-bold">Taxa Respiratória:</span> {{ healthreport.respiratoryRate }} respirações/minuto</p>
          <p><span class="font-bold">Ritmo Cardíaco:</span> {{ healthreport.heartRate }} bpm</p>
          <p><span class="font-bold">Nível de Glicose no Sangue:</span> {{ healthreport.bloodGlucoseLevel }} mg/dL</p>
          <p><span class="font-bold">Mobilidade:</span> {{ healthreport.mobility }}</p>
          <p><span class="font-bold">Nível de Hidratação:</span> {{ healthreport.hydrationLevel }}</p>
          <p><span class="font-bold">Avaliação Cognitiva:</span> {{ healthreport.cognitiveEmotionalAssessment }}</p>

          <div class="mb-4">
            <p class="text-sm font-semibold text-gray-700">ID do Residente:</p>
            <p class="text-sm text-gray-500">{{ healthreport.resident?.id || 'N/A' }}</p>
          </div>
        </div>
      </div>

      <div class="divider my-4"></div>
    </div>
  </div>
</div>

<p *ngIf="!healthreport" class="text-center text-red-600 font-semibold">Não foi possível carregar o relatório de saúde. Tente novamente mais tarde.</p>
