<ng-container *ngIf="!error; else errorTpl">
  <div *ngIf="medication" class="container mx-auto p-4 md:p-6">
    <div class="card bg-base-100 shadow-xl relative">
      <div class="card-body pt-6">
        <h2 class="card-title text-2xl font-semibold mb-4 text-center md:text-left">Detalhes do Medicamento</h2>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <!-- Coluna da Esquerda: Detalhes do Medicamento -->
          <div class="space-y-2">
            <p><span class="font-bold">Nome:</span> {{ medication.name }}</p>
            <p><span class="font-bold">Instruções:</span> {{ medication.instructions }}</p>
            <p><span class="font-bold">Quantidade:</span> {{ medication.quantity }}</p>
            <p><span class="font-bold">Quantidade Prescrita:</span> {{ medication.prescriptionQuantity }}</p>
            <p><span class="font-bold">Data de Validade:</span> {{ medication.dueDate | date:'yyyy-MM-dd' }}</p>
          </div>

          <!-- Coluna da Direita: Administração do Medicamento -->
          <div class="space-y-2">
            <div class="flex justify-between items-center mb-2">
              <h3 class="text-xl font-semibold">Administrações</h3>
<!--              &lt;!&ndash; Botão para Adicionar Administração &ndash;&gt;-->
<!--              <button-->
<!--                type="button"-->
<!--                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"-->
<!--                (click)="toggleAddForm()"-->
<!--              >-->
<!--                Adicionar-->
<!--              </button>-->
              <button
                type="button"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
                (click)="toggleAddForm()"
              >
                Adicionar
              </button>
            </div>

<!--            &lt;!&ndash; Formulário para Adicionar Administração &ndash;&gt;-->
<!--            <div *ngIf="showAddForm" class="mb-4 p-4 border rounded-lg bg-gray-50">-->
<!--              <form (ngSubmit)="onAddAdministration()">-->
<!--                <div class="mb-2">-->
<!--                  <label for="dose" class="block text-sm font-medium text-gray-700">Dose</label>-->
<!--                  <input-->
<!--                    type="text"-->
<!--                    id="dose"-->
<!--                    [(ngModel)]="newAdministration.dose"-->
<!--                    name="dose"-->
<!--                    required-->
<!--                    class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm"-->
<!--                  />-->
<!--                </div>-->
<!--                <div class="mb-2">-->
<!--                  <label for="hour" class="block text-sm font-medium text-gray-700">Hora</label>-->
<!--                  <input-->
<!--                    type="time"-->
<!--                    id="hour"-->
<!--                    [(ngModel)]="newAdministration.hour"-->
<!--                    name="hour"-->
<!--                    required-->
<!--                    class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm"-->
<!--                  />-->
<!--                </div>-->
<!--                <div class="flex justify-end">-->
<!--                  <button-->
<!--                    type="submit"-->
<!--                    class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded mr-2"-->
<!--                  >-->
<!--                    Salvar-->
<!--                  </button>-->
<!--                  <button-->
<!--                    type="button"-->
<!--                    class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded"-->
<!--                    (click)="toggleAddForm()"-->
<!--                  >-->
<!--                    Cancelar-->
<!--                  </button>-->
<!--                </div>-->
<!--              </form>-->
<!--            </div>-->
            <!-- Formulário para Adicionar Administração -->
            <div *ngIf="showAddForm" class="mb-4 p-4 border rounded-lg bg-gray-50">
              <form (ngSubmit)="onAddAdministration()">
                <div class="mb-2">
                  <label for="dose" class="block text-sm font-medium text-gray-700">Dose</label>
                  <input
                    type="text"
                    id="dose"
                    [(ngModel)]="newAdministration.dose"
                    name="dose"
                    required
                    class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
                  />
                </div>
                <div class="mb-2">
                  <label for="hour" class="block text-sm font-medium text-gray-700">Hora</label>
                  <input
                    type="time"
                    id="hour"
                    [(ngModel)]="newAdministration.hour"
                    name="hour"
                    required
                    class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
                  />
                </div>
                <div class="flex justify-end">
                  <button
                    type="submit"
                    class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded mr-2"
                  >
                    Salvar
                  </button>
                  <button
                    type="button"
                    class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded"
                    (click)="toggleAddForm()"
                  >
                    Cancelar
                  </button>
                </div>
              </form>
            </div>

<!--            &lt;!&ndash; Lista de Administrações &ndash;&gt;-->
<!--            <div *ngFor="let a of medication.medicamentAdministrations; trackBy: trackById" class="flex justify-between items-center">-->
<!--              <div>-->
<!--                <p><span class="font-bold">Dose:</span> {{ a.dose }}</p>-->
<!--                <p><span class="font-bold">Hora:</span> {{ a.hour }}</p>-->
<!--              </div>-->
<!--              <button-->
<!--                type="button"-->
<!--                class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded ml-4"-->
<!--                (click)="onDeleteAdministration(a.id)"-->
<!--              >-->
<!--                Eliminar-->
<!--              </button>-->
<!--            </div>-->
            <!-- Lista de Administrações -->
            <div *ngFor="let a of medication?.medicamentAdministrations; trackBy: trackById" class="flex justify-between items-center">
              <div>
                <p><span class="font-bold">Dose:</span> {{ a.dose }}</p>
                <p><span class="font-bold">Hora:</span> {{ a.hour }}</p>
              </div>
              <button
                *ngIf="a.id !== undefined"
                type="button"
                class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded ml-4"
                (click)="onDeleteAdministration(a.id!)"
              >
                Eliminar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>





  <div class="flex flex-col md:flex-row justify-center items-center pt-10 space-y-4 md:space-y-0 md:space-x-5">
    <a class="btn md:mr-5" [routerLink]="['/residents', residentId, 'medicaments']">
      Voltar
    </a>
    <a [routerLink]="['/residents', residentId, 'medicaments', medication?.id, 'edit']" class="btn btn-info inline-flex items-center gap-1 text-xs md:text-base hover:bg-info-dark">
      <!-- Ícone de Editar -->
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
        <path d="M21.731 2.269a2.625 2.625 0 0 0-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 0 0 0-3.712ZM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 0 0-1.32 2.214l-.8 2.685a.75.75 0 0 0 .933.933l2.685-.8a5.25 5.25 0 0 0 2.214-1.32l8.4-8.4Z" />
        <path d="M5.25 5.25a3 3 0 0 0-3 3v10.5a3 3 0 0 0 3-3V13.5a.75.75 0 0 0-1.5 0v5.25a1.5 1.5 0 0 1-1.5 1.5H5.25a1.5 1.5 0 0 1-1.5-1.5V8.25a1.5 1.5 0 0 1 1.5-1.5h5.25a.75.75 0 0 0 0-1.5H5.25Z" />
      </svg>
      Editar
    </a>
    <button (click)="showAdministrationModal()" class="btn btn-primary inline-flex items-center gap-1 text-xs md:text-base hover:bg-error-dark">
      Administrar
    </button>
<!--    <app-medication-administration-->
<!--      *ngIf="isAdministrationModalVisible && medication"-->
<!--      [medication]="medication"-->
<!--      (close)="closeAdministrationModal()"-->
<!--    ></app-medication-administration>-->


    <button (click)="showDeleteModal()" class="btn btn-primary inline-flex items-center gap-1 text-xs md:text-base hover:bg-error-dark">
      <!-- Ícone de Eliminar -->
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
        <path fill-rule="evenodd" d="M16.5 4.478v.227a48.816 48.816 0 0 1 3.878.512.75.75 0 1 1-.256 1.478l-.209-.035-1.005 13.07a3 3 0 0 1-2.991 2.77H8.084a3 3 0 0 1-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 0 1-.256-1.478A48.567 48.567 0 0 1 7.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 0 1 3.369 0c1.603.051 2.815 1.387 2.815 2.951Zm-6.136-1.452a51.196 51.196 0 0 1 3.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 0 0-6 0v-.113c0-.794.609-1.428 1.364-1.452Zm-.355 5.945a.75.75 0 1 0-1.5.058l.347 9a.75.75 0 1 0 1.499-.058l-.346-9Zm5.48.058a.75.75 0 1 0-1.498-.058l-.347 9a.75.75 0 0 0 1.5.058l.345-9Z" clip-rule="evenodd" />
      </svg>
      Eliminar
    </button>
  </div>

  <div *ngIf="!medication">
    <app-loading />
  </div>
</ng-container>

<!-- Modal de Confirmação -->
<app-modal-confirm
  title="Apagar Medicamento"
  message="Tem certeza de que deseja eliminar este medicamento?"
  confirmLabel="Eliminar"
  (confirm)="onDelete()"
></app-modal-confirm>

<!-- Template de Erro -->
<ng-template #errorTpl>
  <p class="text-error p-4">{{ error }}</p>
</ng-template>
