<div class="overflow-x-auto">
  <table class="table border border-gray-300 rounded-lg">
    <!-- head -->
    <thead>
    <tr>
      <th class="w-10"> <!-- Coluna checkbox com largura menor -->
      </th>
      <th class="w-40">Nome</th> <!-- Definido uma largura menor para a coluna Nome -->
      <th class="w-32">Contacto</th> <!-- Coluna menor -->
      <th class="w-32">Email</th> <!-- Coluna menor -->
      <th class="w-32">NIF</th> <!-- Coluna menor -->
      <th class="w-64">Morada</th> <!-- Coluna de Morada um pouco maior -->
      <th class="w-24">Role</th>
      <th class="w-40">Ações</th> <!-- Largura ajustada para Ações -->
    </tr>
    </thead>
    <tbody>
    <app-users-table-row *ngFor="let user of users" [user]="user"/>
    </tbody>
  </table>
</div>
